html {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  background-color: white;
  overflow-x: hidden;
}

body {
  margin: 0 auto;
  width: 100%;
  padding: 0 1.5rem;
}

h1 {
  text-align: center;
  margin: 3em 0 0 0;
}

h2 {
  font-size: 24px;
  text-align: center;
}
